<div class="body-overlay"></div>

<div id="side-panel" class="dark">
  <div id="side-panel-trigger-close" class="side-panel-trigger">
    <a href="#"><i class="icon-line-cross"></i></a>
  </div>

  <div class="side-panel-wrap">
    <div class="widget clearfix">
      <h4>Pages</h4>

      <nav class="nav-tree nobottommargin">
        <ul>
          <li>
            <a href="#"><i class="icon-bolt2"></i>Features</a>
            <ul>
              <li><a href="#">Sliders</a></li>
              <li><a href="#">Widgets</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Headers</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="icon-briefcase"></i>Portfolio</a>
            <ul>
              <li>
                <a href="#">Grid</a>
                <ul>
                  <li><a href="#">3 Columns</a></li>
                  <li><a href="#">4 Columns</a></li>
                  <li><a href="#">5 Columns</a></li>
                </ul>
              </li>
              <li><a href="#">Masonry</a></li>
              <li><a href="#">Loading Styles</a></li>
              <li><a href="#">Single</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="icon-file-text"></i>About</a>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="icon-map-marker"></i>Contact</a>
          </li>

          <li>
            <a href="<%= destroy_user_session_path %>" data-method="delete"
              ><i class="icon-line2-logout"></i><%=t('admin.logout')%></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">
  <!-- Header
		============================================= -->
  <header id="header" class="full-header" data-sticky-class="not-dark">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <!-- Logo
					============================================= -->
        <div id="logo">
          <a
            href="/"
            class="standard-logo"
            data-dark-logo="<%= 'admin/logo-dark.png'%>"
            ><img src="<%= 'admin/logo-dark.png'%>" alt="Canvas Logo"
          /></a>
          <a
            href="/"
            class="retina-logo"
            data-dark-logo="<%= 'admin/logo@2x.png'%>"
            ><img src="<%= 'admin/logo@2x.png'%>" alt="Canvas Logo"
          /></a>
        </div>
        <!-- #logo end -->

        <!-- Primary Navigation
					============================================= -->
        <nav id="primary-menu" class="dark">
          <ul>
            <li>
              <a href="/admin/index"><div>Home</div></a>
            </li>
          </ul>

          <div id="side-panel-trigger" class="side-panel-trigger">
            <a href="#"><i class="icon-reorder"></i></a>
          </div>
        </nav>
        <!-- #primary-menu end -->
      </div>
    </div>
  </header>
  <!-- #header end -->

  <!-- Content
		============================================= -->
  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">
        <div class="center">
          <a
            href="#"
            class="button button-xlarge button-rounded side-panel-trigger bottommargin"
            >Open Side Panel</a
          >

          <br />

          <a
            href="side-panel-left-overlay.html"
            class="button button-mini button-rounded button-dark"
            >Left - Overlay</a
          >
          <a
            href="side-panel-left-push.html"
            class="button button-mini button-rounded button-dark"
            >Left - Pushed</a
          >
          <a
            href="side-panel-right-overlay.html"
            class="button button-mini button-rounded button-dark"
            >Right - Overlay</a
          >
          <a
            href="side-panel.html"
            class="button button-mini button-rounded button-dark"
            >Right - Pushed</a
          >
          <a
            href="side-panel-light.html"
            class="button button-mini button-rounded button-dark"
            >Light Background</a
          >
        </div>

        <div class="line"></div>

        <div class="col_full">
          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
          id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a
          ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
          commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras
          mattis consectetur purus sit amet fermentum. Donec id elit non mi
          porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Vestibulum id ligula porta felis euismod semper.
        </div>

        <div class="col_half">
          <h5>Half Width</h5>
          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
          id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a
          ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
          commodo luctus.
        </div>

        <div class="col_half col_last">
          <h5>Half Width (Last)</h5>
          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
          id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a
          ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
          commodo luctus.
        </div>

        <div class="clear"></div>

        <div class="col_two_third">
          <h5>2/3 Width</h5>
          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
          id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a
          ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
          commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras
          mattis consectetur purus sit amet fermentum. Donec id elit non mi
          porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Vestibulum id ligula porta felis euismod semper.
        </div>

        <div class="col_one_third col_last">
          <h5>1/3 Width (Last)</h5>
          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
          id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a
          ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
          commodo luctus.
        </div>

        <div class="clear"></div>

        <div class="col_one_fourth nobottommargin">
          <h5>1/4 Width</h5>
          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
          id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a
          ante.
        </div>

        <div class="col_three_fourth nobottommargin col_last">
          <h5>3/4 Width (Last)</h5>
          Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
          id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a
          ante venenatis dapibus posuere velit aliquet. Duis mollis, est non
          commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras
          mattis consectetur purus sit amet fermentum. Donec id elit non mi
          porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Vestibulum id ligula porta felis euismod semper.
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </section>
  <!-- #content end -->
</div>
<!-- #wrapper end -->

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
