<%= form_for @team_member, url: (@team_member.new_record? ? admin_team_members_url : admin_team_member_path(@team_member)), :html => { :class => "form-horizontal team_member" } do |f| %>

  <% if @team_member.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@team_member.errors.count, "error") %> prohibited this team_member from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @team_member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :attachment_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div id="fileuploader">Upload</div>
      <%= f.hidden_field :attachment_id, id: 'attachment_id' %>
      <%= image_tag @team_member.image_url, class: 'thumb' if !@team_member.new_record? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ar_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ar_name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :en_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :en_name, :class => 'form-control', dir: 'ltr' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ar_text, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :ar_text, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :en_text, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :en_text, :class => 'form-control', dir: 'ltr' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :order_position, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :order_position, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('helpers.links.submit'), :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_team_members_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
