<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:ar_title) %>:</strong></dt>
  <dd><%= @post.ar_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:en_title) %>:</strong></dt>
  <dd><%= @post.en_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tr_title) %>:</strong></dt>
  <dd><%= @post.tr_title %></dd>
  <% if @post.album?%>
    <% @post.post_images.each do |post_image|%>
      <%= image_tag post_image.image_url, width: '200px' %>
    <% end %>
  <% else %>
    <dt><strong><%= model_class.human_attribute_name(:ar_subtitle) %>:</strong></dt>
    <dd><%= @post.ar_subtitle %></dd>
    <dt><strong><%= model_class.human_attribute_name(:en_subtitle) %>:</strong></dt>
    <dd><%= @post.en_subtitle %></dd>
    <dt><strong><%= model_class.human_attribute_name(:tr_subtitle) %>:</strong></dt>
    <dd><%= @post.tr_subtitle %></dd>
    <dt><strong><%= model_class.human_attribute_name(:attachment_id) %>:</strong></dt>
    <dd><%= image_tag @post.image_url, width: '200px' if @post.has_image? %></dd>
    <dt><strong><%= model_class.human_attribute_name(:ar_content) %>:</strong></dt>
    <dd><%= @post.ar_content.to_s.html_safe %></dd>
    <dt><strong><%= model_class.human_attribute_name(:en_content) %>:</strong></dt>
    <dd><%= @post.en_content.to_s.html_safe %></dd>
    <dt><strong><%= model_class.human_attribute_name(:tr_content) %>:</strong></dt>
    <dd><%= @post.tr_content.to_s.html_safe %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_posts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_post_path(@post), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
