<section class="section-padding section-2-bg">
  <div class="container">
    <div class="heading-div text-center">
      <h2><%=t('block1.title')%></h2>
      <img src="<%= asset_path('website/90x10x1.png') %>" alt="icon" />
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3 text-center moving-col moving-col-1">
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values1.png') %>" alt="80x80x1"
        /></a>
        <h3 class="h-50"><%= WebsiteConfig.get('values-1-title', current_locale) %></h3>
        <p>
          <%= WebsiteConfig.get('values-1-content', current_locale) %>
        </p>
      </div>
      <div class="col-sm-6 col-md-3 text-center moving-col">
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values2.png') %>" alt="80x80x2"
        /></a>
        <h3 class="h-50"><%= WebsiteConfig.get('values-2-title', current_locale) %></h3>
        <p>
          <%= WebsiteConfig.get('values-2-content', current_locale) %>
        </p>
      </div>
      <div
        class="col-sm-6 col-md-3 text-center moving-col moving-col-1 moving-4"
      >
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values3.png') %>" alt="80x80x3"
        /></a>
        <h3 class="h-50"><%= WebsiteConfig.get('values-3-title', current_locale) %></h3>
        <p>
          <%= WebsiteConfig.get('values-3-content', current_locale) %>
        </p>
      </div>
      <div
        class="col-sm-6 col-md-3 text-center moving-col moving-3"
      >
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values4.png') %>" alt="80x80x4"
        /></a>
        <h3 class="h-50"><%= WebsiteConfig.get('values-4-title', current_locale) %></h3>
        <p>
          <%= WebsiteConfig.get('values-4-content', current_locale) %>
        </p>
      </div>
    </div>
  </div>
</section>
