<section class="section-padding section-2-bg">
  <div class="container">
    <div class="heading-div text-center">
      <h2><%=t('block2.title')%></h2>
      <h4><%=t('block2.subtitle')%></h4>
      <img src="<%= asset_path('website/90x10x1.png') %>" alt="icon" />
    </div>
    <div class="row moving-row">
      <% for i in 2..5%>
        <% wpage = Wpage.find_by(id: i) %>
        <% next unless wpage %>
        <div class="col-sm-6 col-md-3 text-center moving-col moving-col-<%= i%2 == 0 ? 1 : 2 %>">
          <h3 class="h-80"><%= wpage.title(current_locale)%></h3>
          <p style="font-size: 16px !important;">
            <%= wpage.first_content_words(30, current_locale) %>
          </p>
          <p class="pt-20">
            <a href="<%= wpage.path(current_locale)%>" class="color-white"><%=t('read_more')%></a>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>