<section class="section-padding section-2-bg">
  <div class="container">
    <div class="heading-div text-center">
      <h2><%=t('block1.title')%></h2>
      <img src="<%= asset_path('website/90x10x1.png') %>" alt="icon" />
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3 text-center moving-col moving-col-1">
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values1.png') %>" alt="80x80x1"
        /></a>
        <h3><%=t('block1.subtitle1')%></h3>
        <p>
          <%=t('block1.text1')%>
        </p>
      </div>
      <div class="col-sm-6 col-md-3 text-center moving-col">
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values2.png') %>" alt="80x80x2"
        /></a>
        <h3><%=t('block1.subtitle2')%></h3>
        <p>
          <%=t('block1.text2')%>
        </p>
      </div>
      <div
        class="col-sm-6 col-md-3 text-center moving-col moving-col-1 moving-4"
      >
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values3.png') %>" alt="80x80x3"
        /></a>
        <h3><%=t('block1.subtitle3')%></h3>
        <p>
          <%=t('block1.text3')%>
        </p>
      </div>
      <div
        class="col-sm-6 col-md-3 text-center moving-col moving-3"
      >
        <a href="<%= about_path(current_locale)%>" class="bottom-space"
          ><img src="<%= asset_path('website/values4.png') %>" alt="80x80x4"
        /></a>
        <h3><%=t('block1.subtitle4')%></h3>
        <p>
          <%=t('block1.text4')%>
        </p>
      </div>
    </div>
  </div>
</section>
