<section class="section-padding section-1-bg">
  <div class="container">
    <div class="heading-div text-center">
      <h2><%=t('block2.title')%></h2>
      <h4><%=t('block2.subtitle')%></h4>
      <img src="<%= asset_path('website/90x10x1.png') %>" alt="icon" />
    </div>
    <div class="row">
      <div class="col-sm-3 text-center various-col">
        <h3><%=t('block2.subtitle1')%></h3>
        <p>
          <%=t('block2.text1')%>
        </p>
      </div>	
      <div class="col-sm-3 text-center responsive-top-space various-col">
        <h3><%=t('block2.subtitle2')%></h3>
        <p>
          <%=t('block2.text2')%>
        </p>
      </div>	
      <div class="col-sm-3 text-center responsive-top-space various-col">
        <h3><%=t('block2.subtitle3')%></h3>
        <p>
          <%=t('block2.text3')%>
        </p>
      </div>
      <div class="col-sm-3 text-center responsive-top-space various-col">
        <h3><%=t('block2.subtitle4')%></h3>
        <p>
          <%=t('block2.text4')%>
        </p>
      </div>						
    </div> 				
  </div>			
</section>	