<section class="section-padding section-1-bg">
  <div class="container">
    <div class="heading-div text-center">
      <h2><%=t('reports.title')%></h2>
      <img src="<%= asset_path('website/90x10x1.png') %>" alt="icon" />
    </div>
    <div class="row">
      <div class="col-sm-6 text-center various-col">
        <a href="<%= reports_path(locale: current_locale, s: 'specialized')%>"><img src="<%= asset_path('website/report1.png') %>" alt="icon" /></a>
        <a href="<%= reports_path(locale: current_locale, s: 'specialized')%>"><h3><%=t('reports.specialized')%></h3></a>
        <div class="progress-div">
          <div class="progress-bar-outer">
            <div class="progress-bar-inner-100"></div>
          </div>
        </div>						
      </div>	
      <div class="col-sm-6 text-center responsive-top-space various-col">
        <a href="<%= reports_path(locale: current_locale, s: 'activity')%>"><i class="fa fa-file-text" style="color: #F8B53A; font-size: 64px;"></i> </a>
        <a href="<%= reports_path(locale: current_locale, s: 'activity')%>"><h3><%=t('reports.activity')%></h3></a>
        <div class="progress-div">
          <div class="progress-bar-outer">
            <div class="progress-bar-inner-100"></div>
          </div>
        </div>						
      </div>	
    </div> 				
  </div>			
</section>