<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <% Slider.visible.each_with_index do |slider, idx|%>
        <div class="item <%= 'active' if idx == 0%>">
        <img class="second-slide" src="<%= slider.image_url %>" alt="<%= slider.title(current_locale) %>">
        <% if slider.has_link?%>
            <div class="container">
            <div class="carousel-caption">
                <h1><%= slider.title(current_locale) %></h1>
                <p><%= slider.subtitle(current_locale) %></p>
                <p><a class="btn btn-lg btn-primary" href="<%= slider.link %>" role="button"><%= slider.link_title(current_locale) %></a></p>
            </div>
            </div>
        <% end %>
        </div>
        <% end %>
    </div>
    </div><!-- /.carousel -->