<section class="section-padding section-2-bg mt-50">
  <div class="container">
    <div class="heading-div text-center heading-title">
      <h2><%= @post.title(current_locale)%></h2>
      <img src="<%= asset_path('website/90x10x1.png') %>" alt="icon" />
    </div>
  </div>
</section>
<section class="section-padding section-1-bg" id="blog">
  <div class="container">
    <div class="row">					
      <div class="col-sm-12 blog-img">
        <img src="<%= @post.image_url %>" alt="<%= @post.title(current_locale)%>" />
        <br/><br/>
        <%= @post.content(current_locale) %>
			</div>
		</div>
	</div>
</section>