<section class="section-padding section-2-bg mt-50">
  <div class="container">
    <div class="heading-div text-center heading-title">
      <h2><%= @post.title(current_locale)%></h2>
      <img src="<%= asset_path('website/90x10x1.png') %>" alt="icon" />
    </div>
  </div>
</section>
<section class="section-padding section-1-bg" id="blog">
  <div class="container">
    <div class="row">					
      <div class="col-sm-6 blog-img col-lg-12">
        <div id="myCarousel" class="carousel slide pt0">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <% @post.post_images.each_with_index do |slider, idx|%>
              <li data-target="#myCarousel" data-slide-to="<%= idx %>" class="<%= 'active' if idx == 0%>"></li>
              <% end %>
          </ol>
          <div class="carousel-inner" role="listbox">
              <% @post.post_images.each_with_index do |slider, idx|%>
              <div class="item <%= 'active' if idx == 0%>">
              <img class="second-slide" src="<%= slider.image_url %>" alt="<%= @post.title(current_locale)%>">
              </div>
              <% end %>
          </div>
          </div>
			</div>
		</div>
	</div>
</section>