<%= javascript_include_tag Ckeditor.cdn_url%>

<%= form_for @post, url: (@post.new_record? ? admin_posts_url : admin_post_path(@post)), :html => { :class => "form-horizontal post" } do |f| %>

  <% if @post.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <% if @post.gallery? %>
    <%= f.hidden_field :post_type_id %>
  <% else %>
    <div class="form-group">
      <%= f.label :post_type_id, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :post_type_id, PostType.all.collect {|p| [ p.admin_title, p.id ] },{},{:class => 'form-control'}%>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :attachment_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.hidden_field :attachment_id, id: 'attachment_id' %>
      <%= image_tag @post.image_url(:thumb), class: 'thumb' if !@post.new_record? && @post.has_image? %>
      <div id="fileuploader" data-max-file-count="1">Upload</div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :order_position, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :order_position, :class => 'form-control' %>
    </div>
  </div>

  <% SupportLocale.all.each do |locale|%>
    <div class="form-group">
      <%= f.label "#{locale.iso_code}_title", :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field "#{locale.iso_code}_title", :class => 'form-control' %>
      </div>
    </div>
  <% end %>

  

  <% unless @post.gallery? %>
    <% SupportLocale.all.each do |locale|%>
      <div class="form-group">
        <%= f.label "#{locale.iso_code}_subtitle", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field "#{locale.iso_code}_subtitle", :class => 'form-control' %>
        </div>
      </div>
    <% end %>
    <% SupportLocale.all.each do |locale|%>
      <div class="form-group">
        <%= f.label "#{locale.iso_code}_content", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.cktext_area "#{locale.iso_code}_content", :class => 'form-control', ckeditor: { uiColor: '#F0F0F0', enterMode: 2, autoParagraph: false} %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <div class="form-group">
      <%= f.label t('admin.post.photos'), :class => 'control-label col-lg-2' %><spna class="red">(768x432)</spna>
      <div class="col-lg-10">
        <div id="fileuploaderGallery" data-max-file-count="30">Upload</div>
      </div>
    </div>
    <div class="col-lg-10">
      <table>
        <% @post.post_images.each do |img| %>
          <tr>
            <td><%= image_tag img.image_url, class: 'thumb' %></td>
            <td>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                    admin_attachment_path(img.attachment_id, format: :json),
                    :method => :delete,
                    :remote => true,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs red remove-img' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('helpers.links.submit'), :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
               admin_posts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
