<%= javascript_include_tag Ckeditor.cdn_url%>

<%= form_for @fa_question, url: (@fa_question.new_record? ? admin_fa_questions_url : admin_fa_question_path(@fa_question)), :html => { :class => "form-horizontal fa_question" } do |f| %>

  <% if @fa_question.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@fa_question.errors.count, "error") %> prohibited this fa_question from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @fa_question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ar_question, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ar_question, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :en_question, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :en_question, :class => 'form-control', dir: 'ltr' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ar_answer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.cktext_area :ar_answer, :class => 'form-control', ckeditor: { language: 'ar', uiColor: '#F0F0F0', enterMode: 2, autoParagraph: false} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :en_answer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.cktext_area :en_answer, :class => 'form-control', dir: 'ltr', ckeditor: { language: 'ar', uiColor: '#F0F0F0', enterMode: 2, autoParagraph: false} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :position, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hidden, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10 switch">
      <%= f.check_box :hidden, :class => 'switch-toggle switch-toggle-round', id: 'switch-toggle-1' %>
      <label for="switch-toggle-1"></label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('helpers.links.submit'), :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_fa_questions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
